body {
    background-image:url(images.jpg);
     background-size:cover;
    
}
.navbar {
    display: inline-block;
}
#HyperLink4,#HyperLink5,#HyperLink3,#HyperLink2,#HyperLink1{
    text-decoration:none;
}

.navbar:hover{
   background-color:gray; 
    
}
